<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Pokemon</title>
</head>
<body>
    <h1>Crear pokemon</h1>
    <a href="#">Volver a inicio</a>
    <br>
    <form action="/create" method="POST">
        <div>
            <label for="name">Nombre:</label>
            <br>
            <input type="text" name="name" id="name">
        </div>
        <br>
        <div>
            <label for="type">Tipo o tipos:</label>
            <br>
            <input type="text" name="type" id="type">
        </div>
        <br>
        <div>
            <label for="level">Nivel:</label>
            <br>
            <input type="number" name="level" id="level">
        </div>
        <br>
        <button>Guardar</button>
    </form>
</body>
</html>